<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stucco.NSwag.Core" publicKeyToken="c2d88086e098d109" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.6016.21307" newVersion="3.4.6016.21307" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NJsonSchema" publicKeyToken="c2f9c3bdfae56102" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.48.6012.40848" newVersion="2.48.6012.40848" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>